body{
    font-family: 'Poppins', sans-serif;
    max-width: 1180px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    margin: 10px auto;
}

/* color primary */
.color-primary1{
    color: #3A3A3A;
}
.color-primary2{
    color: #787885;
}
.color-primary3{
    color: D9D9D9;
}
/*  */
ul li{
    display: flex;
    list-style: none;
}

ul{
    display: flex;
    gap: 25px;
    align-items: center;
    color: #3A3A3A;
}

a{
    text-decoration: none;
    color: #3A3A3A;
}

.nav-title{
    font-size: 1.2rem;
    font-weight: bold;
    color: #3A3A3A;
}
/* hero section */

.hero-section{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 30px auto;
}

.title{
   font-weight: bold;
    font-size: 1.25rem;
}

.hero-descrip{
    width: 70%;
    font-size: 1rem;
    font-weight: 400;
}

.hero-button{
    background-color: #E02C6D;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1rem;
    gap: 15px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.main-camera{
    background-image: url("images/Circle\ design.svg");
    background-size: cover;
    background-position: center;
    width: 410px;
    height: 410px;
    padding: 20px;
}

/* main section */

.main-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1100px;
    gap: 30px;
    margin: 50px auto;
    border-top: 1px solid #C0CCDA;
    border-bottom: 1px solid #C0CCDA;
    padding: 20px;
}


/* popular section */

.popular{
    text-align: center;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.card{
    width: 300px;
    height: 476px;
    box-shadow:  0 0 10px;
    background-color: white;
    padding:20px;
    max-width: 1100px;
    margin: 50px auto;
    border-radius: 5px;
}

.card-title{
    font-size: 28px;
    font-weight: 300;

}

.price{
    font-size: 24px;
    font-weight: 300;
    font-family: Inter, sans-serif;
    margin-top: -10px;
}

.image-size{
    height: 40px;
    width: 40px;
}

.align{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -30px;
}

.wordwide{
    margin-top: -10px;
}

.main-sec-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    color: #E02C6D;
}

.feature{
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
}

.place{
    font-weight: bold;
    font-size: 38px;
}

.join-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 155px;
    height: 44px;
    color: white;
    background-color: #E02C6D;
    border: none;
}

/* footer section */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: #0A0826;
    padding: 30px;
}

.social{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fa-instagram{
    background-color: #191644;
    border-radius:100%;
    padding: 5px;
}

.fa-twitter{
    background-color: #191644;
    border-radius:100%;
    padding: 5px;
}

.fa-youtube{
    background-color: #191644;
    border-radius:100%;
    padding: 5px;
}


@media screen and (max-width: 576px){
    .navbar{
        display: flex;
        flex-direction: column;
        padding: 0 30px 0 0;
    }
    .hero-section{
        flex-direction: column-reverse;
    }
    .hero-title{
        text-align: center;
        margin: 0 auto;
    }
    .hero-descrip{
        margin: 0 auto;
    }
    .hero-button{
        margin: 10px auto; 
    }
    .main-camera{
        width: 250px;
        height: 250px;
        position: relative;
        margin-left: 35px;
        background-image: none;
    }
    .main-section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .main-sec-end{
        margin-right: 30px;
    }
    .feature{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .join-button{
        margin: 10px auto;
    }
}
